h2 {
    text-align: center;
    margin-top: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 13px;
    color: white;
    text-shadow: 3px 3px 2px rgb(74, 73, 73);
}