<img class="backu" src="https://cdn.dribbble.com/users/1583884/screenshots/17868785/rm281-adj-067_4x.jpg"
    background-repeat="no-repeat">
<h2>USER FORM</h2>
<div class="baksu">
    <div class="backu">
        <div class="baksukuku">
            <form #userForm="ngForm" (ngSubmit)="submit()">
                {{model|json}}
                <div class="form">
                    <label for="email">Email</label>
                    <input [(ngModel)]="model.email" type="text" #email="ngModel" name="email" id="email"
                        class="form-control" required>
                    <div [hidden]="email.valid" class="alert alert-danger">
                        Email is required
                    </div>
                </div>
                <div class="form">
                    <label for="name">Name</label>
                    <input [(ngModel)]="model.name" type="text" #name="ngModel" name="name" id="name"
                        class="form-control" required>
                    <div [hidden]="name.valid" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form">
                    <label for="bio">Bio</label>
                    <input [(ngModel)]="model.bio" type="text" #bio="ngModel" name="bio" id="bio" class="form-control"
                        required>
                    <div [hidden]="bio.valid" class="alert alert-danger">
                        Bio is required
                    </div>
                </div>
                <div class="form">
                    <label for="active">Active</label>
                    <input [(ngModel)]="model.active" #active="ngModel" type="text" name="active" id="active"
                        class="form-control" required>
                    <div [hidden]="active.valid" class="alert alert-danger">
                        This field is required
                    </div>
                </div>
                <div class="btn button-center">
                    <button type="submit" mat-raised-button class="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>